@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=Indie+Flower&family=Lobster+Two&family=Mochiy+Pop+P+One&family=Poppins:wght@500&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@600&family=Indie+Flower&family=Lobster+Two&family=Poppins:wght@500&family=Rubik:wght@500&family=Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
li, a{
    color: #045434 !important;
    text-decoration: none !important;
    font-family: 'Rubik', sans-serif !important;
}

nav {
    position: fixed !important;
    z-index: 3;
    width: 100% !important;
    padding: 0.2% !important;
}


.img-menu {
    width: 5%;
}

header {
    background-image: url(../img/img1.png);
    padding: 12%;
    background-repeat: no-repeat;
}

header h5 {
    color: #045434;
    font-family: 'Lobster Two', cursive;
    font-size: 350%;
    text-shadow: 0.1em 0.1em 0.2em white;
    text-align: center;
}

header p {
    color: white;
    font-family: 'Outfit', sans-serif;
    font-size: 250%;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-align: center;
    
}

.about h1 {
    color: #045434;
    font-family: 'Lobster Two', cursive;
    font-size: 200%;
}

.title_one {
    margin-top: 15%;
}

.about h2 {
    font-family: 'Rubik', sans-serif !important;
    font-size: 150%;
    color: #34F7A9;
}

.about p {
    font-family: 'Outfit', sans-serif;
}

.resume {
    width: 40%;
    display: inline-block;
    margin-top: 5%;
}

.about img {
    margin-top: 15%;
    width: 60%;
    border-radius: 50%;
    
}

#specialties {
    padding: 20%;
}

#specialties h1 {
    color: #045434;
    font-family: 'Lobster Two', cursive;
    font-size: 200%;
    text-align: center;
}

#specialties h2 {
    font-family: 'Rubik', sans-serif !important;
    font-size: 150%;
    color: #34F7A9;
    text-align: center;
}

#specialties {
    font-size: 150%;
    color: black;
    text-align: center;
}

#contact {
    background-image: url(../img/img6.png);
    background-size: cover;
    padding: 15%;
}

#contact h1{
    color: #34F7A9;
    font-family: 'Lobster Two', cursive;
    font-size: 500%;
    text-align: center;
}

#contact p {
    text-align: center;
    font-size: 250%;
    font-family: 'Rubik', sans-serif !important;
}

footer {
    padding: 1%;
    background-color: #045434;
}

footer h2 {
    font-family: 'Rubik', sans-serif !important;
    font-size: 150%;
    color: #34F7A9;
    text-align: center;
    margin-top: 2%;
}

footer p {
    font-family: 'Rubik', sans-serif !important;
    font-size: 150%;
    color: #34F7A9;
    text-align: center;
}

@media(max-width: 700px) {
    .img-menu {
        display: none;
    }

    header h5, header p {
        font-size: 190%;
    }
    #contact h1 {
        font-size: 250%;
    }
    #contact p {
        font-size: 150%;
    }
    footer h2 {
        font-size: 100%;
    }
    footer p {
        font-size: 100%;
    }
}